<!DOCTYPE html>
<html>
    <body>
        <h1>請輸入你這週的目標TDEE</h1>
        <form method="POST" action="/tdee">
            請輸入TDEE (kcal)<br>
            <input type="text" placeholder = '請輸入數字only喔!!' name="tdee"> <!-- create an input for user to type some text -->
            <br>
            請輸入目標蛋白質(g)<br>
            <input type="text"  placeholder = '請輸入數字only喔!!' name="tdee_p"> <!-- create an input for user to type some text -->
            <br>
            請輸入目標碳水(g)<br>
            <input type="text" placeholder = '請輸入數字only喔!!' name="tdee_c"> <!-- create an input for user to type some text -->
            <br>
            請輸入目標脂肪(g)<br>
            <input type="text" placeholder = '請輸入數字only喔!!' name="tdee_f"> <!-- create an input for user to type some text -->
            <br>
            <input type="submit" value="Add"> <!-- create an buttom named Add-->
            <br>
        </form>
    </body>
</html>
